@charset "utf-8";
/* CSS Document */

body{
	color:#6d6e71;
	font-size:14px;
}
strong{ color:#4b4f61}




.mb-bg-primary , mb-blue-color{ color:#007fbd;}
.mb-bg-secondary{ color:#868e96;}
.mb-bg-success{ color:#28a745;}
.mb-bg-danger{ color:#dc3545;}
.mb-bg-warning{ color:#007fbd;}

/* ---- heading-title ----*/

.heading{ 
	font-size:28px; 
	color:#37474f; 
	padding-bottom:15px; 
	margin-bottom:20px; 
	margin-left:10px;
} 
.heading i{ color:#37474f;}



/* ---- title ----*/
.title{ 
	font-size:16px; 
	color:#37474f; 
	border-bottom:1px solid #e8eaea; 
	line-height:40px;
	display:block;
}
.title span{ 
	display:inline-block; 
	border-bottom:1px solid #007fbd;
	font-weight:bold;
}

/* ---- btn-rouund  ----*/

.mb-btn-round-md{ height:32px; line-height:32px; font-size:14px;} 
.mb-btn-round-lg{ height:44px; line-height:44px; font-size:18px;} 
.mb-btn-round{
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px; 
	display:inline-block;
	color:#fff;
	background:#017ebe;
	padding-left:15px;
	padding-right:15px;
	border:1px solid #017ebe;
}
.mb-btn-round-block{ display:block;}
.mb-btn-round:focus,
.mb-btn-round:hover,
.mb-btn-round.active{
	background:#fff;
	border:1px solid #017ebe;
	color:#017ebe;
}


/* ---- button-default ----*/

.mb-btn-md{ height:38px; line-height:38px; font-size:14px; padding:0;} 
.mb-btn-lg{ height:50px; line-height:50px; font-size:18px; padding:0;} 
.mb-btn{ 
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px; 
	display:inline-block;
	padding-left:15px;
	padding-right:15px;
	border:1px solid #017ebe;
}

.mb-btn i{ color:#017ebe;}
.mb-btn:focus, 
.mb-btn:hover, 
.mb-btn.current, 
.mb-btn.active{ background:#017ebe; color:#fff;}
.mb-btn:focus i, 
.mb-btn:hover i, 
.mb-btn.current i,
.mb-btn.active i{ color:#fff;}

/* ---- dropdown-toggle button ----*/

.mb-dd-btn-md{ height:38px; line-height:8px; font-size:14px;} 
.mb-dd-btn-lg{ height:50px; line-height:20px; font-size:18px;} 
.mb-dd-btn{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px; 
	background:#fff;
	border:1px solid #017ebe;
	color:#017ebe;
	padding:0 15px;
}
/* ---- input-field ----*/

.md-input, 
.md-selectore, 
.md-textarea{
	background:#fff; 
	border:1px solid #dadada;
	height:44px;
	width:100%;
	float:left;
	padding:0 10px;
	color:#5f6162;
	margin-bottom:10px;
}
.md-textarea{
	height:110px;
	padding:10px;
}


.mb-radio-btn, 
.mb-input-btn{
	background:#017ebe; 
	color:#fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px; 
	border:1px solid #017ebe;
	display:inline-block;
}
.mb-radio-btn-block{
	display:block
}
.mb-input-btn{ width:100%; float:left; height:50px;}

.mb-radio-btn:hover, 
.mb-input-btn:hover,
.mb-radio-btn:focus, 
.mb-input-btn:focus,
.mb-radio-btn.current, 
.mb-input-btn.current{
	background:#fff;
	border-color:#017ebe;
	color:#017ebe;
}


/* ---- mb-img-box  ----*/


.mb-img-box img, 
.mb-img-box-xl img, 
.mb-img-box-lg img,
.mb-img-box-md img, 
.mb-img-box-sm img{
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.mb-img-box-xxxl img{ width:130px; height:130px}
.mb-img-box-xxl img{ width:100px; height:100px}
.mb-img-box-xl img{ width:85px; height:85px}
.mb-img-box-lg img{ width:55px; height:55px}
.mb-img-box-md img{ width:45px; height:45px}
.mb-img-box-sm img{ width:35px; height:35px}

/* ---- mb-cover ----*/
.mb-cover {
    height: 270px;
    overflow: hidden;
}
.mb-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.mb-cover-sm{ height:70px;}
.mb-cover-md{ height:170px;}
.mb-cover-xxl{ height:370px;}


.mb-profle-default{ 
	width:100px;
    height: 100px;
    overflow: hidden;
	margin:0 auto;
}
.mb-profle-default img{ 
	border-radius:50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.mb-profle-sm{ width:70px; height:70px;}
.mb-profle-lg{ width:130px; height:130px;}
.mb-profle-xxl{ width:170px; height:170px;}

/* ---- mb-div-round ----*/
.mb-div-round{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
/* ---- mb-card ----*/

.mb-card{
	border:1px solid #e8eaea;
	background:#fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px; 
	width:100%;
	float:left;
	padding:15px;
	margin-bottom:20px;
}

.mb-card-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.mb-card-img-box {
    margin-left: -15px !important;
    margin-right: -15px !important;
    height: 217px;
    overflow: hidden;
}

h2.profile-name{ font-size:32px; color:#007fbd;}
h3.profile-name{ font-size:28px; color:#007fbd;}
h4.profile-name{ font-size:18px; color:#007fbd;}

strong.profile-title{ font-size:16px; color:#3b649f;}

/*------mb-icon-------*/
.mb-top-icon {
    position: absolute;
    right: 21px;
    top: 5px;
    background: rgba(0,0,0,0.3) ;
    line-height: 44px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
	color:#fff;
}

/*------mb-radio-button -------*/

.mb-group-btn .gr-btn{
    width: 100%;
    height: 48px;
    line-height: 33px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #007fbd;
    background-color: #fff;
    border-color: #007fbd;
}
.mb-group-btn li{width: 50%; float: left;}
.mb-group-btn .gr-btn.active, .mb-group-btn .gr-btn:focus{
    color: #fff;
    background-color: #007fbd !important;
    border-color: #007fbd;
}
.mb-group-btn li:first-child .gr-btn{
    -webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
.mb-group-btn li:last-child .gr-btn{
    -webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}


/*------mb-css-------*/

.mb-shadow{ box-shadow: 10px 10px 5px #888888;}
.mb-outline{border:1px solid #017ebe; background:none; color:#007fbd;}


/* ---- padding  ----*/

.mb-pd{ padding:15px;}
.mb-pd-top{ padding-top:15px;}
.mb-pd-bottom{ padding-bottom:15px;}
.mb-pd-left{ padding-left:15px;}
.mb-pd-right{ padding-right:15px;}

.mb-pd-top-none{ margin-top:0 !important;}
.mb-pd-bottom-none{ margin-bottom:0 !important;}
.mb-pd-left-none{ margin-left:0 !important;}
.mb-pd-right-none{ margin-right:0 !important;}

/* ---- margin  ----*/

.mb-mg{ margin:15px;}
.mb-mg-top{ margin-top:15px;}
.mb-mg-bottom{ margin-bottom:15px;}
.mb-mg-left{ margin-left:15px;}
.mb-mg-right{ margin-right:15px;}

.mb-mg-top-none{ margin-top:0 !important;}
.mb-mg-bottom-none{ margin-bottom:0 !important;}
.mb-mg-left-none{ margin-left:0 !important;}
.mb-mg-right-none{ margin-right:0 !important;}


/* ---- mb-border  ----*/
.mb-border{ border:1px solid #e8eaea;}
.mb-border-top{border-top:1px solid #e8eaea; }
.mb-border-bottom{ border-bottom:1px solid #e8eaea; }
.mb-border-left{ border-left:1px solid #e8eaea; }
.mb-border-right{ border-right:1px solid #e8eaea; }
/* ---- mb-block  ----*/

.mb-block{ display:block;}
.mb-inline-block{ display:inline-block;}


/* ---- mb-full-width  ----*/
.mb-full-width{ width:100%; float:left} 



