@media only screen and (min-width: 1200px) {
	.explore-col{
	height:100vh;
}


}
@media (min-width:992px) and (max-width:1199px) {

}
@media (min-width:768px) and (max-width:991px) {

}

@media (min-width:768px) and (max-width:1024px) {
.pin {width:47.7%;}
.post-dtl .detail-img{ min-height:600px;}
.messanger .chat-hist {height:72vh;}
}

@media only screen and (max-width: 991px) {
}

@media only screen and (min-width: 768px) {

}
@media (min-width:767px) and (max-width:980px) {




}

@media only screen and (max-width: 767px) {
.status .profile img{ width: 220px; height: 220px;}
.status .bx{ text-align:center;}
.post-dtl .detail-img{ min-height:600px;}
.header .logo{ text-align:center;}

}


@media only screen and (max-width: 480px) {



}
@media (min-width:481px) and (max-width:767px) {


}
@media (min-width:640px) and (max-width:767px) {

}
@media (min-width:481px) and (max-width:639px) {
}
@media (min-width:320px) and (max-width:767px) {
.header .menu li a {
    color: #fff;
    padding: 20px 14px 0 14px;
    display: block;
}
.header .profile-icon li a{ padding-top:18px;}
.header .menu ul.pull-right { margin:0;}
.header .navbar-form .btn {
    top: 16px;
}
.header .navbar-form{ margin:0 !important;}
.content { margin-top: 18px;}
.status .prf-dtl-info{ text-align:center;}
.status .edit-col{ padding-top:0;}
.pin {	width:97%;}

.messanger{ height: 100vh; margin-top:-80px; padding-top:0;}
.messanger .mess-box{ height:100%;}
.messanger .msg-list {height: 100vh; padding-top:60px;}
.messanger .external-attach{ right:0;}
.messanger .chat-hist{ height: 87vh; padding-top:125px;}
.messanger .chat-bx{ height:100vh; position:relative}

.messanger .msg-head-col {height:62px; position: absolute; top: 58px;}
.messanger .msg-head-col img{ width: 35px; height: 35px;}

.messanger .msg-head-col .txt-dtl{ font-size:18px;}
.messanger .msg-head-col .txt-dtl span sub {font-size:14px;}
.messanger .form-group2{ height:50px;}
.header .logo img{max-width:168px;}
.header .menu.profile-icon ul.pull-right { 
float: right !important;
margin-right: 12px;
margin-top: -9px;
}
.status h1{ margin-top:20px;}
.post-dtl .detail-img{
    display: initial;
    align-items: initial;
    justify-content: initial;
    min-height: 100%;
}
.carousel-inner .item-in{ height:60vh;}
.invoice .txt-b-r, .invoice .txt-b-l{ text-align:center;}

}
@media (min-width:320px) and (max-width:480px) {
.header .menu { text-align:center; margin-bottom:10px;}
.header .menu li a { padding:20px 0 0 0; }
.header .profile-icon .down-arrow{ display:none;}
.header .menu ul.pull-right { float:none !important; display:inline-block; }
.content { margin-top: 0;}
.profile-icon{ position:absolute; right:0; top:0;}

.status .edit-col span{ width:100%;}
.status .edit-col{ padding:0;}
.status .edit-col .btn-col{ width:100%; }/*
.group-list .txt-b{ width:100%; text-align:center;}
.group-list .mb-img-box-xl{ width:100%; text-align:center;}*/


}


