/* --------------------- default css ---------------------- */


*{
	margin:0;
	padding:0;
	border:none;
	transition:0.5s;
}
ul, li {list-style:none; text-decoration:none;}
a {
    color: #007fbd;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
a:hover {
    text-decoration: none;
    color: #66666;
}

img{ max-width:100%; vertical-align:middle;}
p{ margin-bottom:15px; word-break: break-all;}
a.btn-cta-primary,
.btn-cta-primary {
  background: #ec6952;
  border:none;
  color: #fff;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #e9553b;
  border: none;
  color: #fff;
}
.rnd-crn{ -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px;  display: block; line-height:40px;}
.profile-img img{ 
	width:45px;
	height:45px;
	object-fit: cover;
    object-position: center;
    display: block;
    overflow: hidden;}

/* --------------------- fonts ---------------------- */


@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/lato/Lato-Regular.eot') format('embedded-opentype'),
  url('../fonts/lato/Lato-Regular.woff') format('woff'), 
  url('../fonts/lato/Lato-Regular.ttf')  format('truetype'), 
  url('../fonts/lato/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* --------------------- common css ---------------------- */

body{
	background:#f2f5f7;
	font-family: 'Lato-Regular';	
	font-weight:400;
	font-size:14px;
	color:#505050;
	position:relative;
	overflow-x:hidden;
}
.container{ 
	margin:0 auto;
}




/* -------------------------- Toggle Styles ------------------------- */
 
#close {
    position: absolute;
    right: 0;
	top:5px;
    background: none;
    border: none;
    color: white;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 300px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 300px;
    width: 0;
    height: 100%;
    margin-right: -300px;
	padding-top:33px;
    overflow-y: auto;
	background:#1b2033;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 300px;
    height: 100%;
    float: left;
    overflow: hidden;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
	padding-top:80px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    /*margin-left: -300px;*/
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* --------------------- Pinterst ---------------------- */

#pin-wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#pin-columns {
margin:.5%;
}

.pin {
	width:31%;
	vertical-align:top;
	display:inline-block;
	background-color:#fff;
	padding:1%;
	margin:1%;
}

.pin img {
	width: 100%;
	margin-bottom: 5px;
}

/* --------------------- Pinterst ---------------------- */

/* --------------------- Header ---------------------- */

.header{ 
	background: #007fbd;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
}
.header .logo{ margin:5px 0;}
.header .menu-bar a{ color:#fff; padding-top:17px; display:inline-block;}
.header .menu ul{ margin-bottom:0;}
.header .menu li{ float:left;}
.header .menu li a{color:#fff; padding:18px 1.5em; display:block;}
.header .menu li a:hover{ background: #fff; color: #007fbd;}
.header .menu li a.dropdown-toggle:hover{ background:none; color:#fff;}
.header .menu li ul li{ width:100%;}
.header .menu li ul li a{ color: #333; padding: 3px 20px;}
/*.header .menu li a i{font-size:20px;}*/
.header .profile-icon li a{ padding:0; padding-top:11px; padding-right:24px;}
.header .profile-icon .dropdown-menu{ left:inherit; right:14px;}
.header .profile-icon span{ width:35px; height:35px; display:block;}
.header .profile-icon span img{ width:35px; height:35px; object-fit: cover; object-position: center; display: block; overflow: hidden; -moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50%;}
.header .profile-icon{ position:relative;}
.header .profile-icon .down-arrow{ position:absolute; right:18px; top:18px;} 
.side-menu{ width:100%; float:left;}
.side-menu li a{color: #fff; padding:15px; display: block; text-decoration:none; border-bottom:1px solid #080d1e;}
.side-menu li a:hover{ background:#080d1e;}

.side-title{
	color: #fff;
	padding: 0 20px 10px 20px;
	font-size: 25px;
	margin-top: -11px;
	display: block;
}


.demobox {
    background: #ccc;
    color: #333;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
    display: block;
}
.demolayout {
    background: #399BFF;
    width: 100%;
    overflow: hidden;
}
.demoboxborder {
    width: 60px;
    background: #ccc;
    border-color:#399BFF;
    line-height: 40px;
    color: #333;
    text-align: center;
	border-width: 5px;
}
.democolors {
    font-size: 18px;
    line-height: 40px;
    width: 60px;
    text-align: center;
    font-weight: bold;
    min-height: 40px;
    text-transform: uppercase;
}
.demobutton{
}